
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"  type="image/x-icon">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:if="${status == 403}">Error 403</title>
    <title th:if="${status == 404}">Error 404</title>
    <title th:if="${status == 500}">Error 500</title>
    <title th:if="${status != 500 && status != 404 && status != 403}">Error Desconocido</title>
</head>
<body>


<!--==================== HEADER ====================-->
<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            SIGUEHA
        </a>


    </nav>
</header>

<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home">
        <div class="home__container container">
            <div class="home__data">
                <span class="home__subtitle" th:if="${status == 403}">Error 403</span>
                <span class="home__subtitle" th:if="${status == 404}">Error 404</span>
                <span class="home__subtitle" th:if="${status == 500}">Error 500</span>
                <span class="home__subtitle" th:if="${status != 500 && status != 404 && status != 403}">Error Desconocido</span>
                <h1 class="home__title" th:if="${status == 403}">Acceso Denegado</h1>
                <h1 class="home__title" th:if="${status == 404}">Algo Ocurrió</h1>
                <h1 class="home__title" th:if="${status == 500}">Error Inesperado</h1>
                <h1 class="home__title" th:if="${status != 500 && status != 404 && status != 403}">Error Desconocido</h1>
                <p class="home__description" th:if="${status == 403}">
                    Parece que no cuentas con los permisos<br> necesarios para estar aquí.
                </p>
                <p class="home__description" th:if="${status == 404}">
                    La pagina que buscas <br> no fue encontrada.
                </p>
                <p class="home__description" th:if="${status == 500}">
                    Parece que hubo un fallo interno<br> estamos trabajando en ello.
                </p>
                <p class="home__description" th:if="${status != 500 && status != 404 && status != 403}">
                    Parece que ocurrió un <br> inesperado, intente nuevamente.
                </p>
                <a  th:href="@{/}"  class="home__button">
                    Volver al inicio
                </a>
            </div>

            <div class="home__img" th:if="${status == 403}">
                <img src="https://em-content.zobj.net/source/microsoft-teams/337/raised-hand_270b.png" alt="">
                <div class="home__shadow"></div>
            </div>
            <div class="home__img" th:if="${status == 404}">
                <img src="https://em-content.zobj.net/source/microsoft-teams/337/ghost_1f47b.png" alt="">
                <div class="home__shadow"></div>
            </div>
            <div class="home__img" th:if="${status == 500}">
                <img src="https://em-content.zobj.net/source/microsoft-teams/337/skull_1f480.png" alt="">
                <div class="home__shadow"></div>
            </div>
            <div class="home__img" th:if="${status != 500 && status != 404 && status != 403}">
                <img src="https://em-content.zobj.net/source/microsoft-teams/337/fearful-face_1f628.png" alt="">
                <div class="home__shadow"></div>
            </div>
        </div>

        <footer class="home__footer">
            <span>(777) 599-6014</span>
            <span>|</span>
            <span>ayuda@sigueha.com</span>
        </footer>
    </section>
</main>

<!--=============== SCROLLREVEAL ===============-->
<script type="text/javascript" th:src="@{/js/scrollreveal.js}"></script>


<!--=============== MAIN JS ===============-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
